<html>
    <head>
        
    
    </head>
    
    <body style="height:1500px">
        {{>header}}
        <h1>this error encountered</h1>
        <p>we are learning nodejs</p>
        {{>footer}}
    </body>
</html>