<html>
    <head>
        The Net Ninja
    <style>
        body{
            background: skyblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            
            padding: 50px;

        }
        h1{
            font-size: 50px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }

        p{
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            color: royalblue;
        }
    </style>
    </head>
    
    <body>
        {{>header}}
        <h1>this error encountered</h1>
        <p>we are learning nodejs</p>
        {{>footer}}
    </body>
</html>