<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../public/css/primary.css">
    </head>
    
    <body style="height:1500px">
        {{>header}}
        <div class="jumbotron text-center">
            
            <h2>Get Accurate Information!!!</h2>
            <p>please provide valid location</p>
        

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                </div> 
                <div class="col-sm-6">
                    <form action="/myaction" method="post">
                        <div class="container-fluid">
                            <input type="text"  placeholder="enter location" name="location">
                            <button type="submit">Search</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
        </div>
        
        
        
        {{>footer}}
        
    </body>
</html>